    .header{
        color: rgb(11, 16, 16);
        margin: 0;
        padding: 0;
        font-size:1rem;
    }
    
    .form {
        font-family: "DM sans",sans-serif;
        min-width: 40vw;
        min-height: 40vh;
        padding: 3vh 1vw;
        margin-top: 5vh;
        margin-bottom: 15vh;
        margin-right: 20vw;
        margin-left: 20vw;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    }

    .CenterForm{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
    .allInput{
        width:70%;
    }

    .submit-button {
        width: 70%;
        padding: 2vh;
        margin: 3vh;
        background-color: #0b1010;
        color: #f4efef;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
        
    .submit-button:hover {
        background-color: #292b2d;
    }

    .button-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }