
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
  }
  

  
  .form-group:first-child {
    margin-right: 1vw;
    
  }
  
  .form-group:last-child {
    margin-left: 1vw;
  
  }

  
  
.form-group label {
    margin-bottom: 0;
    font-weight: bold;
    color: grey;
    font-size: 1rem;
    margin: 1vh 0vw;
    font-family:"DM sans",sans-serif;

    display: flex;
    justify-content: left;
    align-items: left;
  }
  
  .form-group input {
    width: 100%;
    font-size: 1rem;
    font-family: "DM sans",sans-serif;
    padding: 1vh;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    box-sizing: border-box;
    background-color:#f4efef;
    color: #0b1010;
  }
  
  

 

  .form-group textarea {
    width: 100%;
    padding: 1vh;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    box-sizing: border-box;
    resize: vertical; 
    background-color:#f4efef;

  }
  
  
  .form-group:last-child select {
    width: 100%;
    font-size: 1rem;
    padding: 1vh;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    box-sizing: border-box;
    background-color:#f4efef;
  }

  .required {
    color: rgba(255, 0, 0, 0.639); 
    margin-left: 0.3vw; 
  }
  
  